public/assets/portfolio-items/Essay 2 - Final Draft - Zach Meyer.pdf
public/assets/portfolio-items/Essay 3 - Final Draft - Zach Meyer.pdf
public/assets/portfolio-items/Essay 4 - Final Draft - Zach Meyer.pdf
public/assets/portfolio-items/Resume-Zach-Meyer-2018.pdf